.header {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
}

.header a {
  color: #000000;
  text-decoration: none;
}

.header a:hover {
  color: #d31c29;
  text-decoration: underline;
}

.header a:focus {
  color: #d31c29;
  text-decoration: underline;
}

.personalNavigation {
  display: flex;
  flex-direction: row;
}

.body{
  width: 100%;
}

.footer {
  background-color: #222222;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


.phone {
  display: flex;
  flex-direction: column;
}

.messengers {
  display: flex;
  flex-direction: row;
}
