.header {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;

}

.personalNavigation {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
}

.phone {
  display: flex;
  flex-direction: column;
}

.messengers {
  display: flex;
  flex-direction: row;
}
