.vertical-line {
  border-left: 2px solid black;
  height: 6em;
  margin: 0 1em;
}

.header {
  margin-bottom: 1em;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: space-around;
}

.header a {
  color: #000000;
  text-decoration: none;
  margin: 10px 20px;
}

.header a:hover {
  color: #d31c29;
  border-bottom: 2px solid #d31c29;
  padding-bottom: 0.2em;
}

.header a:focus {
  color: #d31c29;
  text-decoration: underline;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation img {
  width: 3em;
  margin: 0 10px;
}

.personalNavigation {
  display: flex;
  flex-direction: row;
}

.personalAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personalAccount * {
  margin: 0 !important;
}
