.cart-container {
  font-weight: 600;
}

.cart-order-container {
  font-weight: 600;
  width: 30em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cart-amount-order{
    margin-top: 2em;
    margin-bottom: 1em;
}

.cart-product-card {
  border: 1px solid #dddddd;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.cart-product-info {
  display: flex;
}

.cart-product-text{
    margin-left: 1em;
}

.cart-product-description {
  color: #999999;
  font-size: 14px;
}

.cart-horizontal-line {
  width: 100%;
  border-bottom: 1px solid #999999;
  margin: 1em 0;
}

.cart-order-container {
  background-color: #fad22c;
  padding: 1em 2em;
}

.cart-price-container {
  border-radius: 0.3em;
  background-color: #ffffff;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.cart-price-container .cart-price-line {
  margin: 1em 0;
}

.cart-price-line {
  display: flex;
  justify-content: space-between;
}

.cart-product-price {
  display: flex;
  justify-content: space-between;
}

.cart-element {
  padding: 0.7em;
  border: none;
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 20px;
}

.cart-input {
  outline: none;
}

.cart-button {
  background-color: #d31c29;
  color: #ffffff;
  cursor: pointer;
}

.cart-button-amount {
  background-color: #d31c29;
  color: #ffffff;
  cursor: pointer;
  padding: 1em;
  border: none;
  border-radius: 1em;
  font-weight: 600;
}

.cart-product-amount {
  padding: 0.8em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
