.main-container {
  height: 55em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.main-horizontal-line {
  width: 40em;
  border-bottom: 2px solid #ffffff;
  margin: 2em 0;
}

.main-text-container {
  font-size: 25px;
}
